name: Deploy to Azure

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    # THÊM ĐOẠN NÀY ĐỂ CHỈ ĐỊNH THƯ MỤC LÀM VIỆC
    defaults:
      run:
        working-directory: ./agricultural-crop-management-backend

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn clean package -DskipTests

    - name: Log in to Azure Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ secrets.REGISTRY_LOGIN_SERVER }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Build and push container image
      # Sửa lại lệnh build để nó tìm Dockerfile ngay tại chỗ hiện tại (.)
      run: |
        docker build . -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/mybackend:${{ github.sha }}
        docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/mybackend:${{ github.sha }}

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: 'agricultural-crop-management-backend'
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        images: '${{ secrets.REGISTRY_LOGIN_SERVER }}/mybackend:${{ github.sha }}'
